:root {
    --dark_custom: #000000;
    --footer_custom: #00439C;
    --bg_play_now: #161C3B;
    --color_font_custom_dark: #1F1F1F;
    --primary_custom: #2D64E6;
    --btn_dark_custom: #363636;
    --color_font_lighter: #828282;
    --bg_play_plus: #BEBCBB;
    --btn_red_custom: #CD3D0F;
    --btn_light_custom: #D9DADC;
    --btn_light_2_custom: #F5F5F5;
    --light_custom: #FFFFFF;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* ul.dropdown-menu {
    position: fixed;
    left: calc(0vw);
    width: 100vw;
    height: 300px;
} */

/* UTILITIE BUTTONS */
.bg_btn_dark_custom {
    background-color: var(--btn_dark_custom);
}
.bg_btn_red_custom {
    background-color: var(--btn_red_custom);
}
.bg_btn_primary_custom {
    background-color: var(--primary_custom);
}
.bg_btn_light_custom {
    background-color: var(--btn_light_custom);
}
.bg_btn_light_2_custom {
    background-color: var(--btn_light_2_custom);
}
.bg_new_games_custom {
    background-color: var(--color_font_custom_dark);
}
.bg_play_plus_custom {
    background-color: var(--bg_play_plus);
}
.bg_play_now_custom {
    background-color: var(--bg_play_now);
}
.bg_footer_custom {
    background-color: var(--footer_custom);
}
.btn_wrapper {
    display: inline-block;
    padding: 2px;
    border: 3px solid transparent;
    border-radius: 50px;
}

.hover_btn_red:hover {
    border-color: var(--btn_red_custom);
}
.hover_btn_primary:hover {
    border-color: var(--primary_custom);
}
.hover_btn_light:hover {
    border-color: var(--btn_light_custom);
}
.hover_btn_light_2:hover {
    border-color: var(--btn_light_2_custom);
}

/* UTILITIES FONT COLORS */

.color_primary_custom {
    color: var(--primary_custom)!important;
}
.color_dark_custom {
    color: var(--color_font_custom_dark);
}
.color_lighter_custom {
    color: var(--color_font_lighter);
}


/* HEADER - DROPDOWN MENU */

.dropdown-menu[data-bs-popper] {
    margin-top: 0;
}

.dropdown_custom {
    width: 100%;
    background-color: var(--light_custom);
    border: none;
    border-radius: 0;
}

.navbar_item_hover_custom:hover {
    box-shadow: 0 0 5px #333333;
}

.hover_header_link_custom:hover {
    color: var(--primary_custom);
}

/* #btnControl {
    display: none;
}

#btnControl:checked + label > img {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    
} */


/* HERO SECTION */
.hero_section {
    height: 700px;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.returnal_logo {
    height: 60px;
}

@media screen and (max-width: 576px) {
    .returnal_logo {
        width: 80%;
        height: auto;
    }
    
}

.hero_section h2,
.hero_section p {
    text-shadow: 2px 2px 8px #555555;
}


/* CAROUSEL SECTION */

.img_wrapper {
    /* border-radius: 25px; */
    /* overflow: hidden; */
    padding: 3px;
    border: 3px solid transparent;
}

.img_wrapper>img {
    border-radius: 25px;
    border: 3px solid white; 
    outline: 3px solid transparent;
    transition: transform 0.4s;
}

.hover_img:hover {
    outline-color: var(--primary_custom);
    transform: translate(0 , -10px);
}


/* PS5 SECTION */

.ps5_item {
    border-bottom: 3px solid white;
    opacity: 0.5;
}

.ps5_item:hover {
    border-color: var(--primary_custom);
    opacity: 1;
    transition: opacity 0.2s;
}


/* IT TAKES TWO SECTION */

.hero2_section {
    height: 700px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero2_section h2,
.hero2_section p {
    text-shadow: 2px 2px 8px #555555;
}

/* NEW GAMES SECTION */

.ps4_item {
    cursor: pointer;
}

.ps4_item>img {
    border-radius: 20px;
    transition: all 0.3s;
}

.ps4_item:hover img {
    transform: scale(1.05);
}


/* DISCOUNT PLAYSTORE SECTION */

.play_discount_section img {
    transition: all 0.3s;
}

.play_discount_section img:hover {
    transform: scale(1.05);
    
}


