:root {
    --dark_custom: #000000;
    --footer_custom: #00439C;
    --bg_play_now: #161C3B;
    --color_font_custom_dark: #1F1F1F;
    --primary_custom: #2D64E6;
    --btn_dark_custom: #363636;
    --color_font_lighter: #828282;
    --bg_play_plus: #BEBCBB;
    --btn_red_custom: #CD3D0F;
    --btn_light_custom: #D9DADC;
    --btn_light_2_custom: #F5F5F5;
    --light_custom: #FFFFFF;

}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.hero_section {
    height: 700px;
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_btn_red_custom {
    background-color: var(--btn_red_custom);
}
.bg_btn_primary_custom {
    background-color: var(--primary_custom);
}
.bg_btn_light_custom {
    background-color: var(--btn_light_custom);
}
.bg_btn_light_2_custom {
    background-color: var(--btn_light_2_custom);
}

.color_primary_custom {
    color: var(--primary_custom);
}
.color_dark_custom {
    color: var(--color_font_custom_dark);
}
.color_lighter_custom {
    color: var(--color_font_lighter);
}

.btn_wrapper {
    display: inline-block;
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 50px;
}

.hover_btn_red:hover {
    border-color: var(--btn_red_custom);
}
.hover_btn_primary:hover {
    border-color: var(--primary_custom);
}
.hover_btn_light:hover {
    border-color: var(--btn_light_custom);
}
.hover_btn_light_2:hover {
    border-color: var(--btn_light_2_custom);
}


.img_wrapper {
    /* border-radius: 25px; */
    /* overflow: hidden; */
    padding: 3px;
    border: 3px solid transparent;
}

.img_wrapper>img {
    border-radius: 25px;
    border: 3px solid white; 
    outline: 3px solid transparent;
}

.hover_img:hover {
    outline-color: var(--primary_custom);
    transform: translate(0 , -10px);
    transition: transform 0.4s;
}

.ps5_item {
    border-bottom: 3px solid white;
    opacity: 0.5;
}

.ps5_item:hover {
    border-color: var(--primary_custom);
    opacity: 1;
    transition: opacity 0.2s;
}

.hero2_section {
    height: 700px;
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero2_section h2,
.hero2_section p {
    text-shadow: 2px 2px 8px #555555;
}